absl-py==2.3.1
adk==0.0.5
agno==1.7.6
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
altair==5.5.0
annotated-types==0.7.0
anyio==4.9.0
asttokens==3.0.0
astunparse==1.6.3
attrs==25.3.0
audioop-lts==0.2.1
# Editable Git install with no remote (aula1==0.1.0)
Authlib==1.6.0
Automat==25.4.16
beautifulsoup4==4.13.4
blinker==1.9.0
Brotli==1.1.0
bs4==0.0.2
cachetools==5.5.2
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
constantly==23.10.4
contourpy==1.3.3
cryptography==45.0.2
cssselect==1.3.0
cycler==0.12.1
DateTime==5.5
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
distro==1.9.0
dnspython==2.7.0
docstring_parser==0.16
exceptiongroup==1.3.0
executing==2.2.1
fastapi==0.115.12
fastjsonschema==2.21.2
fastmcp==2.5.2
ffmpy==0.6.1
filelock==3.18.0
filetype==1.2.0
flair==0.15.1
flatbuffers==25.9.23
fonttools==4.59.1
frozenlist==1.6.0
fsspec==2025.5.1
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
google-adk==1.0.0
google-ai-generativelanguage==0.7.0
google-api-core==2.24.2
google-api-python-client==2.170.0
google-auth==2.40.2
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.94.0
google-cloud-bigquery==3.33.0
google-cloud-core==2.4.3
google-cloud-resource-manager==1.14.2
google-cloud-secret-manager==2.23.3
google-cloud-speech==2.32.0
google-cloud-storage==2.19.0
google-cloud-trace==1.16.1
google-crc32c==1.7.1
google-genai==1.16.1
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
gradio==5.39.0
gradio_client==1.11.0
graphviz==0.20.3
greenlet==3.2.2
groovy==0.1.2
grpc-google-iam-v1==0.14.2
grpcio==1.72.0rc1
grpcio-status==1.72.0rc1
h11==0.16.0
h5py==3.14.0
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
httpx-aiohttp==0.1.4
httpx-sse==0.4.0
huggingface-hub==0.34.3
hyperlink==21.0.0
idna==3.10
imbalanced-learn==0.14.0
importlib_metadata==8.6.1
incremental==24.7.2
iniconfig==2.1.0
ipython==9.6.0
ipython_pygments_lexers==1.1.1
itemadapter==0.11.0
itemloaders==1.3.2
jedi==0.19.2
Jinja2==3.1.6
jiter==0.10.0
jmespath==1.0.1
joblib==1.5.2
jsonpatch==1.33
jsonpickle==4.1.1
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter_core==5.8.1
keras==3.11.3
kiwisolver==1.4.9
langchain-core==0.3.78
langchain-google-genai==2.1.12
langsmith==0.4.32
libclang==18.1.1
litellm==1.71.0
lxml==5.4.0
Markdown==3.9
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.5
matplotlib-inline==0.1.7
mcp==1.9.1
mdurl==0.1.2
ml_dtypes==0.5.3
mpmath==1.3.0
multidict==6.4.4
namex==0.1.0
narwhals==1.38.0
nbformat==5.10.4
networkx==3.5
numpy==2.3.3
openai==1.82.0
openapi-pydantic==0.5.1
opencv-python==4.12.0.88
opentelemetry-api==1.33.1
opentelemetry-exporter-gcp-trace==1.9.0
opentelemetry-resourcedetector-gcp==1.9.0a0
opentelemetry-sdk==1.33.1
opentelemetry-semantic-conventions==0.54b1
opt_einsum==3.4.0
optree==0.17.0
orjson==3.11.1
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
pandasql==0.7.3
parsel==1.10.0
parso==0.8.5
pathlib==1.0.1
pillow==11.2.1
pinecone==7.3.0
pinecone-plugin-assistant==1.8.0
pinecone-plugin-interface==0.0.7
platformdirs==4.4.0
playwright==1.52.0
plotly==6.3.0
pluggy==1.6.0
prompt_toolkit==3.0.52
propcache==0.3.1
Protego==0.4.0
proto-plus==1.26.1
protobuf==6.30.2
psutil==7.0.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.5
pydantic-settings==2.9.1
pydantic_core==2.33.2
pydeck==0.9.1
PyDispatcher==2.0.7
pydub==0.25.1
pyee==13.0.0
Pygments==2.19.1
pymongo==4.12.1
pyOpenSSL==25.1.0
pyparsing==3.2.3
PySocks==1.7.1
pytest==8.4.0
pytest-base-url==2.1.0
pytest-playwright==0.7.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-multipart==0.0.20
python-slugify==8.0.4
pytz==2025.2
pyvis==0.3.2
pywin32==311
PyYAML==6.0.2
queuelib==1.8.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-file==2.1.0
requests-toolbelt==1.0.0
rich==14.0.0
rpds-py==0.24.0
rsa==4.9.1
ruff==0.12.7
safehttpx==0.1.6
scikit-learn==1.7.2
scipy==1.16.1
Scrapy==2.13.2
seaborn==0.13.2
selenium==4.32.0
semantic-version==2.10.0
service-identity==24.2.0
setuptools==80.9.0
shapely==2.1.1
shellingham==1.5.4
six==1.17.0
sk==0.0.1
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.7
SQLAlchemy==2.0.41
sse-starlette==2.3.5
stack-data==0.6.3
starlette==0.46.2
streamlit==1.45.0
sympy==1.14.0
tavily-python==0.7.10
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.1.0
text-unidecode==1.3
threadpoolctl==3.6.0
tiktoken==0.9.0
tldextract==5.3.0
tokenizers==0.21.1
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.3
torch==2.8.0
torchvision==0.23.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
trio==0.30.0
trio-websocket==0.12.2
Twisted==25.5.0
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2025.2
tzlocal==5.3.1
ultralytics==8.3.183
ultralytics-thop==2.0.16
uritemplate==4.1.1
urllib3==2.4.0
uv==0.7.8
uvicorn==0.34.2
w3lib==2.3.1
watchdog==6.0.0
wcwidth==0.2.14
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
wordcloud==1.9.4
wrapt==1.17.2
wsproto==1.2.0
yarl==1.20.0
zipp==3.21.0
zope.interface==7.2
zstandard==0.25.0
